<ion-header translucent="true">
  <ion-toolbar>
    <ion-icon slot="icon-only" ios="arrow-back-outline" md="arrow-back-outline"></ion-icon>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
  </ion-buttons>
    <ion-title>รายการสินค้า</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="loadDataMen($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item *ngFor="let show of member">
    <ion-avatar slot="start">
      <img src=" https://media.istockphoto.com/id/1495088043/vector/user-profile-icon-avatar-or-person-icon-profile-picture-portrait-symbol-default-portrait.jpg?s=612x612&w=0&k=20&c=dhV2p1JwmloBTOaGAtaA3AW1KSnjsdMt7-U_3EZElZ0= " alt="">
    </ion-avatar>
    <ion-label>
      {{ show.id_stu }} {{ show.name }}
    </ion-label>

    <ion-button slot="end" color="warning" (click)="edit(show)">แก้ไข</ion-button>
    <ion-button slot="end" color="danger" (click)="delMember(show.id)">ลบ</ion-button>
  </ion-item>
</ion-content>